<div style="text-align:center">
  <h1 class="title">
    Welcome to the Angular PWA demo!
  </h1>
  <div class="img-wrap">
    <img id="angular_logo" alt="Angular Logo" src="./assets/logos/angular_logo.png">
    <img id="pwa_logo" alt="PWA Logo" src="./assets/logos/pwa_logo.png">
  </div>
</div>

<main>
  <div class="content">
    <div class="data-container" *ngIf="jokes$ | async as jokeData">
      <h2 class="card-title">Daily joke </h2>
      <p class="joke-text">
        {{jokeData.joke}}
      </p>
    </div>

    <div class="data-container" *ngIf="sharesData$ | async as sharesData">
      <h2 class="card-title">Shares info </h2>
      <div class="shares-metadata">
        <strong>Symbol: {{sharesData.name}}</strong>
        <span>Last trade time: {{!!sharesData.lastTradeTime ? (sharesData.lastTradeTime | date:'dd.MM.yyyy HH:mm') : 'N/A'}}</span>
      </div>
      <div class="shares-details">
        <div class="price">{{sharesData.price}} {{sharesData.currency}}</div>
        <div class="values">
          <div class="values-wrap">
            <img src="./assets/icons/arrow_up.png" alt="arrow_up" title="Highest value">
            <span class="high_value">{{sharesData?.dayHigh || 'N/A'}}</span>
          </div>
          <div class="values-wrap">
            <img src="./assets/icons/arrow_down.png" alt="arrow_down" title="Lowest value">
            <span>{{sharesData?.dayLow || 'N/A'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>