  hr {
      margin: 30px 0;
  }

  .card-title {
      margin-bottom: 25px;
  }

  #joke-div {
      margin-right: 30px;
      max-width: 450px;
  }

  #joke-div #text {
      font-size: 2rem;
      font-weight: 600;
      line-height: 45px;
  }

  #image-div img {
      width: 100%;
  }

  svg#rocket {
      width: 80px;
      position: absolute;
      left: -10px;
      top: -24px;
  }

  svg#rocket-smoke {
      height: calc(100vh - 95px);
      position: absolute;
      top: -6px;
      right: 290px;
      z-index: -10;
  }

  svg#clouds {
      position: fixed;
      bottom: -160px;
      left: -230px;
      z-index: -10;
      width: 1920px;
  }

  .loader-wrap {
    height: 180px; // Prevent card from moving
  }

  /*Spinner - by Luke Haas - https://projects.lukehaas.me/css-loaders */
  .loader,
  .loader:before,
  .loader:after {
      background: #1976d2;
      -webkit-animation: load1 1s infinite ease-in-out;
      animation: load1 1s infinite ease-in-out;
      width: 1em;
      height: 4em;
  }

  .loader {
      color: #1976d2;
      text-indent: -9999em;
      margin: 88px auto;
      position: relative;
      font-size: 11px;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
  }

  .loader:before,
  .loader:after {
      position: absolute;
      top: 0;
      content: '';
  }

  .loader:before {
      left: -1.5em;
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
  }

  .loader:after {
      left: 1.5em;
  }

  @-webkit-keyframes load1 {

      0%,
      80%,
      100% {
          box-shadow: 0 0;
          height: 4em;
      }

      40% {
          box-shadow: 0 -2em;
          height: 5em;
      }
  }

  @keyframes load1 {

      0%,
      80%,
      100% {
          box-shadow: 0 0;
          height: 4em;
      }

      40% {
          box-shadow: 0 -2em;
          height: 5em;
      }
  }
